.page1 {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  animation-fill-mode: forwards;
  animation: canvasMove 10s;
  transform: scale(1.5) translate(0);
}

@keyframes canvasMove {
  0% {
    transform: scale(1.5) translate(0);
  }
  25% {
    transform: scale(1.75) translate(30%, -30%);
  }
  50% {
    transform: scale(2.25);
  }
  75% {
    transform: scale(1.75);
  }
  100% {
    transform: scale(1.5);
  }
}

