@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"),
    url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Anonymous Pro', monospace;;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Courier New"), url("../fonts/couriernew.woff2") format("woff2");
}

@font-face {
  font-family: 'Anonymous Pro', monospace;;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CourierNewPS-BoldMT.woff2") format("woff2");
}
