.accordion {
  list-style: none;
  position: relative;
  z-index: 10;
  color: #fff;

  &_no-border {
    .accordion__item {
      border-bottom: none;
    }
    .accordion__item:first-child {
      border-top: none;
    }
  }

  &_mt50 {
    margin-top: 50px;
    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }
}

.accordion__item {
  position: relative;
  overflow: hidden;
}

.accordion__item:last-child::before {
  background-color: transparent;
}

.accordion__title {
  position: relative;
  padding: 40px;
  font-variation-settings: "wght" 500;
  cursor: pointer;
  transition: all 0.3s;
  @media (max-width: 550px) {
    padding-left: 30px;
  }
}

.accordion__price {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.9);
  font-variation-settings: "wght" 500;
}
.accordion__title:hover {
  background-color: var(--darken);
  color: #fff;
}
.accordion__title:hover .accordion__price {
  color: var(--sky);
}

.accordion__title::before {
  content: "";
  position: absolute;
  right: 35px;
  width: 36px;
  height: 2px;
  background-color: var(--sky);
  top: 50%;
  transform: translateY(-50%);
  transform: all 0.3s;
  border-radius: 25px;
  @media (max-width: 550px) {
    left: 5px;
    right: auto;
    width: 16px;
  }
}

.accordion__title::after {
  content: "";
  position: absolute;
  right: 35px;
  width: 36px;
  height: 2px;
  background-color: var(--sky);
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  transition: all 0.3s;
  border-radius: 25px;
  @media (max-width: 550px) {
    left: 5px;
    right: auto;
    width: 16px;
  }
}
.accordion__title.acc-active::before {
  transform: translateY(-50%) rotate(45deg);
}
.accordion__title.acc-active::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion__txt {
  padding-left: 20px;
  margin-left: 20px;
  padding-bottom: 0;
  overflow: hidden;
  transform-origin: top;
  max-height: 0;
  transition: max-height 2s cubic-bezier(0, 1, 0, 1), margin 0.1s ease;
  border-left: 1px solid transparent;
  border-left: 1px solid var(--pink);
  color: #fff;
  .btn-ml {
    margin-left: 40px;
    @media(max-width:767px) {
      margin-left: 0;
    }
  }
}

.acc-active {
  background-color: var(--darken);
  color: #fff;
}
.acc-active .accordion__price {
  color: var(--sky);
}

.acc-active + .accordion__txt {
  max-height: 2000px;
  transition: max-height 2s ease, margin 0.1s ease;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fff;
}

//accordion__list

.accordion__list {
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-variation-settings: "wght" 500;
}

.accordion__li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.acc-active + .accordion__list .accordion__li {
  border-bottom: 1px solid var(--pink);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.acc-active + .accordion__list .accordion__li:first-child {
  padding-top: 30px;
}

.acc-active + .accordion__list {
  padding-bottom: 1px;
  padding-left: 40px;
}

@media (max-width: 767px) {
  .accordion__li {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .acc-active + .accordion__list .accordion__li:first-child {
    padding-top: 20px;
  }

  .acc-active + .accordion__list {
    padding-bottom: 1px;
    padding-left: 40px;
  }

  .acc-active + .accordion__list .accordion__li-span:last-child {
    font-variation-settings: "wght" 700;
    margin-top: 12px;
  }
}

.accordion-price-list {
  list-style: none;
  margin-top: 20px;
}

.accordion__price-list-li {
  position: relative;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
}

.accordion__price-list-span:last-child {
  flex-shrink: 0;
  flex-basis: 20%;
  position: relative;
  padding-left: 30px;
}

.accordion__price-list-span:last-child::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5px;
  width: 15px;
  height: 15px;
  background-color: var(--pink);
  opacity: 0.5;
}

// .accordion__price-list-li:nth-child(1)::before,
// .accordion__price-list-li:nth-child(2)::before,
// .accordion__price-list-li:nth-child(3)::before,
// .accordion__price-list-li:nth-child(4)::before,
// .accordion__price-list-li:nth-child(5)::before,
// .accordion__price-list-li:nth-child(6)::before {
//   content: "1";
//   font-size: 64px;
//   font-family: "Montserrat";
//   margin-right: 20px;
//   color: var(--pink);
//   opacity: 0.5;
// }
// .accordion__price-list-li:nth-child(2)::before {
//   content: "2";
// }
// .accordion__price-list-li:nth-child(3)::before {
//   content: "3";
// }
// .accordion__price-list-li:nth-child(4)::before {
//   content: "4";
// }
// .accordion__price-list-li:nth-child(5)::before {
//   content: "5";
// }
// .accordion__price-list-li:nth-child(6)::before {
//   content: "6";
// }
// .accordion__price-list-li:nth-child(7)::before {
//   content: "7";
// }
// .accordion__price-list-li:nth-child(8)::before {
//   content: "8";
// }
// .accordion__price-list-span:first-child {
//   font-size: 24px;
// }
